
<% if(!token || !token.isValid){ %>
    <h2>Your token has been expired! Try again with new link</h2>
<% }else{ %>
    <h3>Enter New Password!</h3>
    <form action="/users/change_password/?accessToken=<%= token.accessToken %>" method="post">
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <input type="submit" value="Submit">
    </form>
<% } %>
